*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/
/app/src/main/java/io/github/yamin8000/owl/network/ApiKey.kt
/app/release/
/app/src/irMarket/java/io/github/yamin8000/owl/ad/AdConstants.kt
/app/irMarket/
/app/free/
/.kotlin/
